<a href='#software_development' name='software_development'><%= image_tag "section_divider.jpg" %></a>
<h2>Software Development and Consulting</h2>
<table>
  <tr>
    <td valign='top'><%= image_tag 'DK_2.png' %></td>
    <td valign='top'>&nbsp;&nbsp;&nbsp;</td>
    <td valign='top'><p>I am DK, and I am StructuralArtistry.</p><p>I came to the world of software creation via a career in human resources, where I fell in love with what I could do by iterating database recordsets in a home-made HRIS system I created in MS Access and VBA.</p><p>From there I spent years as a hands-on director of software development for a holding company specializing in credit reporting. In those years I made every mistake possible and personally derived my current best practices and development philosophy.</p><p>My aproach centers on an agile process driven by automated testing, allowing an application to grow naturally and be easily adaptable and resilient to changes and new business needs. This includes working towards a minimum-viable product as the first phase of any project. I also focus on respecting and understanding the creative process which includes how problems are best solved and how the best ideas and work actually get done by an individual and team.</p><p>I have a successful track record of conception to deployment projects, and have specialized in mid to high traffic data and process intensive systems.</p><p>I currently focus my actual development work using Ruby and Ruby and Rails as the language and framework of choice, although my development principles are timeless and can be applied to any language.</p><p>I am availalbe for individual development projects as well as consulting in the realm of software development processes and practices, specifially at he intersection of engineering and creativity.</p>
    </td>
  </tr>
</table>
<a href='#wavelineup' name='wavelineup'><%= image_tag "section_divider.jpg" %></a>
<h2>WaveLineup</h2>
<p>WaveLineup is the first software system built specifically for Network chiropractors. </p>
<p><a href='https://wavelineup.heroku.com/register' target='_blank'>Sign Up (free trial)</a>&nbsp;&nbsp;&nbsp; <a href='https://wavelineup.heroku.com/about' target='new'>More Information and Videos</a></p>
<table>
  <tr>
    <td valign='top'><a href='http://wavelineup.com' target='_blank'><%= image_tag 'wavelineup_visit_screen.jpg' %></a></td>
    <td valign='top'><a href='http://wavelineup.com' target='_blank'><%= image_tag 'wavelineup_travel_card_screen.jpg' %></a></td>
  </tr>
</table>
<p>If you are reading this and have never gotten adjusted by a <a href='http://www.wiseworldseminars.com/nsa/practitioners/' target='new'>Network chiropractor</a>, go! It is a technique which is gentle, there is no cracking or popping, and it helpes reset your nervous system, which we all can use!</p>
<a href='#cv_resume' name='cv_resume'><%= image_tag "section_divider.jpg" %></a>
</a><h2>CV/Resume</h2>
<a href='dk_resume.txt' target='_blank'>Plain Text baby!</a><br>
<a href='#blog' name='blog'><%= image_tag "section_divider.jpg" %></a>
<h2>Blog</h2>
<p>Read it <a href='http://blog.structuralartistry.com' target='new'>here</a>!</p>
<a href='#contact' name='contact'><%= image_tag "section_divider.jpg" %></a>
<h2>Contact!</h2>
<p>Email: <%= image_tag 'dk_email_address.gif' %></p>

